* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}
h1 {
  font-family: "Roboto", sans-serif;
  color: var(--black);
}
h2 {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  letter-spacing: 8px;
  font-size: 12px;
}
p {
  font-family: "Roboto", sans-serif;
  color: var(--DarkGray);
  font-size: 12px;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 20px;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
}
a:hover {
  text-decoration: underline;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  margin: 20px;
  margin-top: 25px;
  margin-left: 25px;
}
section {
  display: flex;
}
.section1 {
  height: 450px;
}

.slide {
  width: 760px;
  height: 450px;
}
.text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 90px;
}
#middletext {
  margin-top: 15px;
}
#shop {
  color: var(--black);
  font-size: 12px;
  letter-spacing: 10px;
  margin: 0px;
}
#shop:hover {
  text-decoration: none;
}

.direction {
  display: flex;
  background-color: black;
  position: relative;
  top: 98px;
  right: 90px;
  width: 131px;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 65px;
  width: 65px;
  height: 70px;
}
.left:hover {
  background-color: var(--VeryDarkGray);
}
.right:hover {
  background-color: var(--VeryDarkGray);
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 70px;
}
#imgs {
  width: 420px;
  height: 230px;
}
.text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 30px;
  /* font-size: 12px; */
}
@media (min-width: 641px) {
  .direction1 {
    display: none;
  }
  .dropdown-btn {
    display: none;
  }
  .content {
    display: none;
  }
}
@media (max-width: 640px) {
  section {
    display: flex;
    flex-direction: column;
  }
  .slide {
    width: 450px;
    height: 300px;
  }

  .menu {
    display: none;
  }
  .logo {
    position: relative;
    left: 170px;
    margin-top: 30px;
  }
  /* .slideshow {
    display: none;
  } */
  .text1 {
    margin: 90px;
    height: 500px;
  }
  .slideshow {
    height: 300px;
  }
  #shop1 {
    margin-top: 20px;
  }

  .direction {
    display: none;
  }
  .direction1 {
    background-color: black;
    position: relative;
    top: -75px;
    left: 320px;
    display: flex;
    width: 130px;
  }

  .section2 {
    position: relative;
    /* background-color: pink; */
    top: 220px;
    width: 450px;
  }
  #imgs {
    width: 450px;
    height: 200px;
  }
  .text2 {
    /* width: 420px; */
    height: 250px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-btn {
    position: relative;
    top: 30px;
    left: -90px;
  }
  .content {
    color: rgb(8, 5, 5);
    display: none;
    position: abolute;
    background-color: rgb(253, 254, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    top: -21px;
    left: -107px;
  }
  button {
    border: none;
    background-color: unset;
  }
  .content ul {
    color: black;
    height: 100px;
    width: 450px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content ul a {
    /* background-color: black; */
    color: black;
    font-weight: bold;
  }
  .content ul a:hover {
    text-decoration: none;
  }
  .dropdown:hover .content {
    display: block;
    margin: 0;
  }
  .dropdown:hover .dropdown-btn {
    background-color: rgb(4, 0, 0);
    width: 10px;
  }
}
